{% extends 'base.html'%}

{% block content %}

<body>
    
    <h1>Tax Payment Tracking System</h1>
    <form id="taxForm" action="/taxes" method="POST">
        <label for="company">Company:</label>
        <input type="text" id="company" name="company" required><br><br>
        
        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" required><br><br>
        
        <label for="paymentDate">Payment Date:</label>
        <input type="date" id="paymentDate" name="paymentDate" required><br><br>
        
        <!-- <label for="status">Status:</label>
        <input type="text" id="status" name="status" required><br><br> -->

        <label for="status">Status:</label>
        <select id="status" name="status" required>
            <option value="Paid">Paid</option>
            <option value="Unpaid">Unpaid</option>
        </select><br><br>
        
        <label for="dueDate">Due Date:</label>
        <select id="dueDate" name="dueDate" required>
        </select><br><br>

        <!-- <label for="taxRate">Tax Rate (decimal):</label>
        <input type="text" id="taxRateField" name="taxRate" required><br><br> -->
        
        <input type="submit" value="Save">
    </form>

    <p id="taxRateField"></p>   
    <p id="summaryDueDate" name="summaryDueDate"> </p>
    

  
   
    

   
<!-- Add a modal for editing -->
<div id="editModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeEditModal()">&times;</span>
        
        <form id="editForm">
           
            
<select id="editDueDateSelect" name="dueDate" required>
   
            </select><br><br>
            <input type="submit" value="Save">
        </form>
    </div>
</div>


</body>
{% endblock %}
</html>
